.block {
    margin-top: 20px;
    margin-left: 20px;
}
.on {
    background-color: aquamarine;
}
.off {
    background-color: crimson;
}
.span {
    margin-left: 15px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 100%;
    vertical-align: middle;
}
.spanOn {
    background-color: aquamarine;
}
.spanOff {
    background-color: crimson;
}