.wrapper {
    position: relative;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 5px;
    width: 150px;
    padding: 5px;
}
.first {
    cursor: pointer;
    padding-left: 5px;
    border-radius: 5px;
}
.firstGrey {
    cursor: pointer;
    padding-left: 5px;
    border-radius: 5px;
    color: grey;
}
.li {
    cursor: pointer;
    padding-left: 5px;
    border-radius: 5px;
}
.liHover {
    cursor: pointer;
    background-color: rgb(113, 113, 236);
    color: white;
    padding-left: 5px;
    border-radius: 5px;
}